---
import CV from "../components/CV.astro";
import Start from "../components/Start.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navigation />

  <div class="scroll-smooth snap-y snap-mandatory overflow-y-scroll h-dvh">
    <Start />
    <CV />
  </div>
</Layout>
