<nav
  class="fixed bg-gray-950/60 z-10 top-6 md:top-8 left-1/2 -translate-x-1/2 outline-2 outline-white/5 rounded-full overflow-hidden font-mono backdrop-blur-md"
>
  <ul class="flex">
    <li>
      <a
        href="#start"
        class="text-gray-400 transition-opacity px-4 py-2 inline-block bg-white/10 rounded-full"
        >Start</a
      >
    </li>
    <li>
      <a
        href="#cv"
        class="text-gray-400 transition-opacity px-4 py-2 inline-block rounded-full hover:bg-white/5"
        >CV</a
      >
    </li>
    <li>
      <a
        href="#"
        class="text-gray-400 transition-opacity px-4 py-2 inline-block rounded-full hover:bg-white/5"
        >Blog</a
      >
    </li>
  </ul>
</nav>
