---
import { Github, Linkedin } from "lucide-astro";
---

<div class="relative w-screen h-screen bg-gray-950">
  <!-- Grid background -->
  <div
    class="absolute inset-0 opacity-2 bg-[linear-gradient(rgb(255_255_255)_1px,transparent_1px),linear-gradient(90deg,rgb(255_255_255)_1px,transparent_1px)] bg-size-[100px_100px]"
  >
  </div>

  <!-- Animated blurred bubbles -->
  <div class="absolute inset-0 overflow-hidden blur-[250px]">
    <div
      class="absolute -top-32 -left-32 w-[700px] h-[700px] bg-sky-950 rounded-full animate-pulse [animation-duration:40s]"
    >
    </div>
    <div
      class="absolute bottom-96 right-[100px] w-[500px] h-[500px] bg-teal-950 rounded-full animate-bounce [animation-duration:30s]"
    >
    </div>
    <div
      class="absolute -bottom-[600px] left-1/2 -translate-x-1/2 w-[800px] h-[800px] bg-teal-950 rounded-full animate-pulse [animation-duration:30s]"
    >
    </div>
  </div>

  <!-- Navigation -->
  <!-- <nav
    class="absolute top-8 left-1/2 -translate-x-1/2 outline-2 outline-white/10 rounded-full overflow-hidden font-mono"
  >
    <ul class="flex">
      <li>
        <a
          href="#"
          class="text-gray-400 transition-opacity px-4 py-3 inline-block bg-white/10 rounded-full"
          >Start</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-gray-400 transition-opacity px-4 py-3 inline-block rounded-full hover:bg-white/5"
          >Blog</a
        >
      </li>
    </ul>
  </nav> -->

  <!-- Text content -->
  <div
    class="absolute inset-0 flex gap-12 flex-col items-center justify-center pointer-events-none m-12"
  >
    <div
      class="flex gap-12 pointer-events-auto flex-col md:flex-row items-center md:items-start"
    >
      <img src="/profile.jpg" class="w-64 h-64 rounded-full" />
      <div class="flex gap-6 flex-col max-w-[500px] justify-center">
        <h1
          class="bg-linear-to-r from-sky-400 to-teal-500 bg-clip-text text-transparent font-extrabold text-center text-4xl md:text-left md:text-5xl"
        >
          Hi, I'm Daniel!
        </h1>
        <p
          class="text-xl leading-8 tracking-wide text-white opacity-60 text-center md:text-left"
        >
          A Full Stack Developer and Software Architect mastering the entire
          digital lifecycle. Defined by an instinctive eye for design and a
          passion for emerging technologies.
        </p>
      </div>
    </div>

    <!-- Social Links -->
    <div class="flex gap-4 mt-2 pointer-events-auto">
      <a
        href="https://github.com/danieldaeschle"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-400 hover:opacity-80 transition-opacity"
      >
        <Github class="w-6 h-6" />
      </a>
      <a
        href="https://www.linkedin.com/in/daniel-d%C3%A4schle-772021160/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-400 hover:opacity-80 transition-opacity"
      >
        <Linkedin class="w-6 h-6" />
      </a>
    </div>
  </div>

  <!-- Bouncing arrow -->
  <!-- <div class="absolute bottom-8 left-1/2 -translate-x-1/2 animate-bounce">
    <ArrowDown class="w-8 h-8 text-white opacity-70" />
  </div> -->
</div>
